/* Reset básico */
html, body {
  height: 100%;
  margin: 0;
}

/* Contenedor a pantalla completa */
.register-container {
  height: 100vh;
  overflow: hidden;
}

/* Fila al 100% de altura */
.register-container .row {
  height: 100%;
}

/* Imagen lateral: sin bordes, cubre todo y en móvil se muestra completa */
.register-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Desktop: cubre todo el contenedor */
}

/* En móviles, que se vea completo sin recorte */
@media (max-width: 767.98px) {
  .register-image {
    object-fit: contain;
    height: auto;
    max-height: 300px; /* ajústalo si quieres */
    margin: 20px auto; /* centrado */
    display: block;
    align-items: center;
    
  }
  .register-container {
    height: auto;
  }
  .register-container .row {
    height: auto;
  }
}

/* Lado del formulario */
.form-side {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #ffffff;
  
}

/* Card del formulario */
.register-form {
  background: #fff;
  border-radius: 8px;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  zoom: 90%;
}

/* Logo centrado */
.register-logo {
  display: block;
  margin: 0 auto 1rem;
  max-width: 90px;
  height: auto;
}

/* Botón primario */
.btn-primary {
  background-color: #ffb703;
  border: none;
}
.btn-primary:hover {
  background-color: #e6a700;
}

/* Footer */
footer {
  background: #2c3e50;
  color: #ccc;
}
footer a {
  color: #ffb703;
}
